body{
    background-color: #F5F2E8;  
  }
  header{
    color: darkolivegreen; 
    font-family: fantasy;
    font-size: Large;   
  }
  p{
    font-family: italic;
    color: maroon
  }
  ul{
    color: saddlebrown;
    font-family: fantasy;
    font-size: large
      
  }
  img {
    border: 7px solid black;
    border-radius: 50%;
    padding: 5px;
    width: 150px;
  }
h1{
  text-align: center;
}
h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: saddlebrown;
  border: 3px solid saddlebrown;
  border-radius: 20%;
}